.section-start {
  position: relative;
  display: 25vh;
  background-color: #27424b;
  padding: 5rem;
  margin-top: -1vh;
  border-radius: 1rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes broccoliAnimation {
  0% {
    left: 500px;
    opacity: 25%; }
  25% {
    left: 0; }
  50% {
    left: 0; }
  75% {
    left: 0; }
  100% {
    left: 0; } }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7rem;
  background-color: #fff1db;
  padding: 1rem; }

.heading-primary {
  display: inline-block;
  color: #f0f7fa;
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem 0.45rem #181616;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  -webkit-background-clip: text;
  letter-spacing: 1.5rem;
  line-height: 8rem; }
  .heading-primary--main {
    display: block;
    font-size: 7rem; }
  .heading-primary--sub {
    display: block; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-mid {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  height: 55vh;
  background-image: linear-gradient(to right bottom, #27424b, #c9f1d0);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  padding: 10rem;
  border-radius: 1rem; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 8rem; }
  .header__text--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.daily-prep-list__checkbox {
  display: none; }

.daily-prep-list__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0.5rem 0.5rem 2rem #1b1b1b;
  text-align: center;
  cursor: pointer; }

.daily-prep-list__button--label {
  position: fixed;
  padding: 1rem;
  text-transform: uppercase;
  color: black;
  z-index: 1000;
  top: 2.5rem;
  right: 2.5rem;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(to bottom, rgba(95, 179, 218, 0.383), rgba(255, 234, 43, 0.246));
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 2rem #1b1b1b; }

.daily-prep-list__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#6b8486, rgba(15, 114, 119, 0.966));
  z-index: 1000;
  transition: transform 0.5s; }

.daily-prep-list__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.5s; }

.daily-prep-list__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 30%; }

.daily-prep-list__link:link, .daily-prep-list__link:visited {
  text-shadow: 0.3rem 0.3rem 0.45rem #181616;
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #95f1f1 50%);
  background-size: 250%;
  transition: all 0.4s; }
  .daily-prep-list__link:link span, .daily-prep-list__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.daily-prep-list__link:hover, .daily-prep-list__link:active {
  background-position: 100%;
  color: black;
  transform: translateX(1rem); }

.daily-prep-list__checkbox:checked ~ .daily-prep-list__background {
  transform: scale(80); }

.daily-prep-list__checkbox:checked ~ .daily-prep-list__nav {
  opacity: 1;
  width: 100%; }

.daily-prep-list__icon {
  position: relative;
  margin-top: 3.5rem; }
  .daily-prep-list__icon, .daily-prep-list__icon::before, .daily-prep-list__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #5f5f5f;
    display: inline-block; }
  .daily-prep-list__icon::before, .daily-prep-list__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.6s; }
  .daily-prep-list__icon::before {
    top: -0.8rem; }
  .daily-prep-list__icon::after {
    top: 0.8rem; }

.daily-prep-list__button:hover .daily-prep-list__icon::before {
  top: -1rem; }

.daily-prep-list__button:hover .daily-prep-list__icon::after {
  top: 1rem; }

.daily-prep-list__checkbox:checked + .daily-prep-list__button .daily-prep-list__icon {
  background-color: transparent; }

.daily-prep-list__checkbox:checked + .daily-prep-list__button .daily-prep-list__icon::before {
  top: 0;
  transform: rotate(135deg); }

.daily-prep-list__checkbox:checked + .daily-prep-list__button .daily-prep-list__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.icon {
  position: relative;
  display: block;
  width: 50%;
  height: 50%;
  left: 30rem;
  top: 10rem;
  z-index: 500; }
  .icon__broccoli {
    top: 1rem;
    display: block;
    width: 10%;
    padding: 1.2rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards; }
  .icon__knife {
    top: 9rem;
    width: 10%;
    padding: 1.2rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards; }
  .icon__onion {
    top: 15rem;
    left: 2rem;
    width: 10%;
    padding: 1.2rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards; }
