*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: linear-gradient(rgba(44, 124, 44, 0.5), rgba(93, 137, 139, 0.911));
  font-weight: 400;
  line-height: 1rem; }

@keyframes broccoliAnimation {
  0% {
    left: 300px; }
  25% {
    left: 0; }
  50% {
    left: 0; }
  75% {
    left: 0; }
  100% {
    left: 0; } }

#broccoliImg {
  /* filter: opacity(75%); */
  height: 70px;
  width: 70px;
  position: relative;
  animation-name: broccoliAnimation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
  animation-fill-mode: forwards; }

#knifeImg {
  /* filter: opacity(75%); */
  height: 70px;
  width: 70px;
  position: relative;
  animation-name: broccoliAnimation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.66, -0.18, 0.49, 2);
  animation-fill-mode: forwards; }

#onionImg {
  /* filter: opacity(75%); */
  height: 70px;
  width: 70px;
  position: relative;
  animation-name: broccoliAnimation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.59, 0.15, 0.55, 1.46);
  animation-fill-mode: forwards; }

.appTitle {
  font-family: "Spectral", serif;
  font-size: 70px;
  font-weight: bolder;
  color: white;
  /* padding-left: 60%; */ }

#navbarDropdown {
  /* background-color: rgb(255, 216, 216); */
  background: linear-gradient(#fffdff, #464444);
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 25px;
  filter: drop-shadow(5px 5px 5px black);
  z-index: 1;
  /* margin: 0; */ }

.stoveKnob {
  height: 50px;
  filter: drop-shadow(10px 10px 10px black);
  margin: 15px; }

.recipeList {
  /* margin: 20px; */
  border-radius: 10px;
  border: 2px solid #ebff38;
  filter: drop-shadow(5px 5px 5px #575757);
  margin: 0;
  padding: 0;
  text-align: center; }

#menuLabel1,
#menuLabel2 {
  color: black;
  font-size: 20px;
  border-radius: 15px;
  background: #eb9d30;
  filter: drop-shadow(5px 5px 5px black);
  padding: 10px; }

.prepListTitle {
  text-align: center;
  font-size: 30px; }

.prepTag {
  border: 1px solid blue;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 5px black);
  background: linear-gradient(#fffdff, #f16508);
  color: #13171b;
  width: 200px;
  font-size: 20px;
  position: relative; }

#todayPrepCont {
  color: aliceblue; }

/* #menuLabel2 {
    color: aliceblue;
    font-size: 30px;
    margin-right: 30px;
} */
.coldPrepHeading {
  color: #e7f4ff;
  background: #405c8d;
  text-align: center;
  border-radius: 50px; }

.card {
  background: #495a44;
  border-radius: 15px 15px 15px 15px;
  filter: drop-shadow(10px 10px 10px black);
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: aliceblue; }

.oystImg,
.lobstImg {
  border-radius: 50px 50px 50px 50px;
  filter: drop-shadow(10px 10px 10px); }

.enterBtn {
  border-radius: 30px;
  filter: drop-shadow(10px 10px 10px #2e2e30); }

.footer {
  content: "\00A9";
  color: aliceblue;
  /* margin-top: px; */ }
