.section-start {
  background-color: rgba(55, 129, 133, 0.911);
  padding: 20rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes broccoliAnimation {
  0% {
    left: 500px;
    opacity: 25%; }
  25% {
    left: 0; }
  50% {
    left: 0; }
  75% {
    left: 0; }
  100% {
    left: 0; } }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #a1b6b8;
  padding: 2rem; }

.heading-primary {
  display: inline-block;
  color: #f0f7fa;
  text-transform: uppercase;
  text-shadow: 0.5rem 0.5rem 0.75rem #181616;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  -webkit-background-clip: text;
  letter-spacing: 0.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 8rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-mid {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  height: 65vh;
  background-image: linear-gradient(to right bottom, #27424b, #c9f1d0);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  padding: 20rem; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 2rem; }
  .header__text--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.icon {
  position: relative;
  display: block;
  bottom: 15rem;
  left: 5rem; }
  .icon__broccoli {
    top: 2rem;
    width: 10%;
    position: relative;
    animation-name: broccoliAnimation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards; }
  .icon__knife {
    top: 2rem;
    width: 10%;
    position: relative;
    animation-name: broccoliAnimation;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards; }
  .icon__onion {
    top: 2rem;
    width: 10%;
    position: relative;
    animation-name: broccoliAnimation;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards; }
