$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

//text color
$text-color-main: rgb(240, 247, 250);

$color-gray-light: rgb(175, 175, 175);
$color-gray-dark: rgb(95, 95, 95);

$color-primary: rgb(201, 241, 208);
$color-secondary: rgb(39, 66, 75);
$color-tertiary: rgb(149, 241, 241);

$color-background-main: rgb(107, 132, 134);
$color-background-bright: rgb(231, 246, 246);

$color-background-secondary: rgba(15, 114, 119, 0.966);
$color-background-tertiary: rgba(192, 224, 250, 0.911);

//Shadows
$color-shadow-dark: rgb(24, 22, 22);
$color-shadow-light: rgb(65, 65, 65);
$text-shadow-dark: 0.3rem 0.3rem 0.45rem rgb(24, 22, 22);
$text-shadow-light: 0.5rem 0.5rem 2rem rgb(65, 65, 65);
$box-shadow-light: 0.5rem 0.5rem 2rem rgb(65, 65, 65);
$box-shadow-dark: 0.5rem 0.5rem 2rem rgb(27, 27, 27);

//font
$default-font-size: 1.6rem;

//Gradients
$linear-gradient-primary: linear-gradient(
  to right bottom,
  $color-background-secondary,
  $color-background-main
);
