.daily-prep-list {
  // top: 0;

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: $box-shadow-dark;
    text-align: center;
    cursor: pointer;

     @include respond(tab-port) {
        top: 2rem;
        right: 4rem;
      }
  }
  &__button--label {
    position: fixed;
    padding: 1rem;
    text-transform: uppercase;
    color: $color-black;
    z-index: 500;
    top: 2.5rem;
    right: 2.5rem;
    letter-spacing: 0.5rem;
    background-image: linear-gradient(
      to bottom,
      $transparent-blue-glass,
      $transparent-gold-glass
    );

    border-radius: 3rem;
    box-shadow: $box-shadow-dark;
    border-bottom: 2px solid $color-white;

    @include respond(phone) {
      display: none;
      // letter-spacing: none;
      // font-size: 1.2rem;
      // right: 7rem;
      // top: 2rem;
      // box-shadow: none;
      // color: $color-white;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-background-main,
      $color-background-secondary
    );
    z-index: 500;
    transition: transform 0.5s;

    @include respond(tab-port) {
        top: 2rem;
        right: 4rem;
      }
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    opacity: 0;
    width: 0;
    transition: all 0.5s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 50%;
    padding: rem;
  }

  &__item {
  }

  &__link {
    &:link,
    &:visited {
      z-index: 1000;
      text-shadow: $text-shadow-dark;
      font-size: 4rem;
      font-weight: 300;
      padding: 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 6rem;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-tertiary 50%
      );
      background-size: 250%;
      transition: all 0.4s;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include respond(phone) {
        // right: 6rem;
        font-size: 2rem;
        line-height: 5rem;
        width: 30rem;
        max-width: 100%;
        letter-spacing: .1rem;
        padding: 1rem;
        margin: 10px;
        border-bottom: 1px solid;

      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-black;
      transform: translateX(1rem);
    }
  }
  //Functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    // transform: scale(80);
    opacity: 1;
    width: 100%;
  }

  //Icon over prep list button

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.6s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
