.header {
  height: 45vh;
  background-image: linear-gradient(
    to right bottom,
    $color-secondary,
    $color-primary
  );
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  padding: 10rem;
  border-radius: 1rem;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 2rem;
  }

  &__text--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  
}
