.section-start {
  // position: fixed;
  //top;

  &__nav {
    width: 100%;
    top: 2rem;
    text-align: center;
   

    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;

  }

  // &__list {
  //   width: 100%;
  //   text-align: center;
  // }

  // &-button {
  //   &:link,
  //   &:visited {
  //     // top: 50rem;
  //     // margin-left: 3rem;
  //     // padding: 2rem;
  //     // margin: 2rem;
  //     // font-size: rem;
  //     // text-decoration: none;
  //     // color: $button-text-color-dark;

  //     // text-transform: uppercase;
  //     // display: inline-block;
  //     // border-radius: 15rem;
  //     // border-bottom: 2px solid $color-white;

  //     // background-image: linear-gradient(
  //     //   to bottom,
  //     //   $transparent-whiteDull-glass,
  //     //   $transparent-whiteBrite-glass
  //     // );

  //     // box-shadow: $box-shadow-light;

  //     &:hover,
  //     &:active {
  //       color: $text-color-hover;
  //       transform: translateY(-0.5rem);
  //     }

  //     @include respond(phone) {
  //       margin: 1rem;
  //       // transform: translateY(-1);
  //     }
  //   }
  // }
}
