body {
    background-color: rgb(42, 56, 56);
}

#jumbotron {
    background: rgb(87, 96, 102);
}

.appTitle {
    font-family: 'Spectral', serif;
    font-size: 70px;
    color: aliceblue;
    
    
}
#navbarDropdown {
    background-color: darkcyan;
}
#menuLabel1 {
    color: aliceblue;
}

.footer {
    content: "\00A9";
    color: aliceblue;
    /* margin-top: px; */
}
