.icon
       {
  position: relative;
  display: block;
  width: 50%;
  height: 50%;
  left: 25rem;
  top: 3rem;
  z-index: 200;

  &__broccoli {
    display: block;
    width: 15%;
    padding: 1rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;
  }

  &__knife {
    top: 10rem;
    // left: 6rem;
    width: 15%;
    padding: 1rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;
  }

  &__onion {
    top: 18rem;
    left: 2rem;
    width: 15%;
    padding: 1rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;
  }
}
