.icon {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 50%;
  height: 50%;
  left: 20rem;
  top: 6rem;
  z-index: 200;

  @include respond(phone) {
    left: 5rem;
    top: 10rem;
  }

  &__broccoli {
    width: 15%;
    padding: 1rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;

    @include respond(phone) {
      // left: 5rem;
      // top: 1rem;
      width: 30%;
      margin: 2rem;
    }
  }

  &__knife {
    top: 10rem;
    width: 15%;
    padding: 1rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;

    @include respond(phone) {
      left: 0;
      // top: rem;
      width: 40%;
      // margin: 3rem;
    }
  }

  &__onion {
    top: 18rem;
    left: 2rem;
    width: 15%;
    padding: 1rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;

    @include respond(phone) {
      // left: 2rem;
      // top: 16rem;
      width: 40%;
      // margin: 3rem;
      // left: rem;
    }
  }
}

.spinner svg {
  position: absolute;

  display: flex;

  width: 50%;
  height: 50%;
  left: 20rem;
  top: 6rem;
  z-index: 200;
  animation: rotate 2s infinite linear;

  @include respond(phone) {
    left: 5rem;
    top: 10rem;
  }
}
