.icon
 {
  position: relative;
  display: block;
  width: 50%;
  height: 50%;
  left: 30rem;
  top: 10rem;
  z-index: 500;

  &__broccoli {
    top: 1rem;
    display: block;
    width: 10%;
    padding: 1.2rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;
  }

  &__knife {
    top: 9rem;
    // left: 6rem;
    width: 10%;
    padding: 1.2rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;
  }

  &__onion {
    top: 15rem;
    left: 2rem;
    width: 10%;
    padding: 1.2rem;
    position: absolute;
    animation-name: broccoliAnimation;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.5, 1.61);
    animation-fill-mode: forwards;
  }
}
