.overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;

  backdrop-filter: blur(15px);
  @include glassFadeDark;

  z-index: 1100;
  // pointer-events: none;

 
}

.hidden {
  
  display: none;
}
