.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  background-color: #fff;
  box-shadow: $box-shadow-dark;
  border-radius: 2rem;

  &__tab-container {
    display: flex;
    justify-content: center;
  }

  &__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);

    @include respond(phone) {
      margin: 0;
    }
  }

  &__tab span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
  }

  &__tab--1 {
    background-color: $color-background-main;
  }

  &__tab--1:hover {
    background-color: $transparent-green-glass;
  }

  &__tab--2 {
    background-color: $color-background-main;
  }

  &__tab--2:hover {
    background-color: $transparent-green-glass;
  }

  &__tab--3 {
    background-color: $color-background-main;
  }

  &__tab--3:hover {
    background-color: $transparent-green-glass;
  }

  &__tab--4 {
    background-color: $color-background-main;
  }

  &__tab--4:hover {
    background-color: $transparent-green-glass;
  }

  &__tab--active {
    transform: translateY(-66%);
    background-color: $transparent-gold-glass;
  }

  &__content {
    display: none;

    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
    padding: 1.5rem 7rem 6.5rem 7rem;
  }

  &__content--active {
    display: grid;
    grid-template-columns: 7rem 1fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
    background-color: $transparent-gold-glass;

    border-radius: 2rem;
  }

  &__header {
    font-size: 2.25rem;
    font-weight: 500;
    align-self: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }

  &__content p {
    grid-column: 2;
  }
  &__icon svg {
    height: 2.75rem;
    width: 2.75rem;
  }

  &__icon--1 {
  }
  &__icon--2 {
  }
  &__icon--3 {
    background-color: var(--color-tertiary-opacity);
  }
  &__icon--1 svg {
    fill: var(--color-secondary-darker);
  }
  &__icon--2 svg {
    fill: var(--color-primary);
  }
  &__icon--3 svg {
    fill: var(--color-tertiary);
  }

  @include respond(phone) {
    max-width: fit-content;
  }
}
