*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: linear-gradient($color-primary, $background-color-main);
  font-weight: 400;
  line-height: 1rem;
  font-family: 'Quicksand', sans-serif;
  padding: 1rem;
}
