body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7rem;
  background-color: $color-background-bright;
  padding: 1rem;
}
.heading-primary {
  display: inline-block;
  // background-image:;
  color: $text-color-main;
  text-transform: uppercase;
  text-shadow: $text-shadow-dark;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  -webkit-background-clip: text;
  letter-spacing: 1.5rem;
  line-height: 8rem;

  &--main {
    display: block;
    font-size: 7rem;
  }

  &--sub {
    display: block;
  }
}
